<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="signin.css">
    <link rel="stylesheet" href="usersignincss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
      <title>College Space</title>
    </head>
  
    <body>
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <div class="fixnav">
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">College Space</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">MCA</a>
                        <a class="dropdown-item" href="#">Ganja mukti kendra</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Yaarana</a>
                    </div>
                </li>
                <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Website under Construction</a>
        </li>
    </ul>

        <form action="/homechle" method="get"> 
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Log out</button>
        </form>
    
</div>
</nav>
</div>
<!-- sidebar -->
<div class="sidebar-container">
    
    <form method="POST" action="/viewinguseralldetails">
        <a  class="sidebar-links" >
            <div class="sidebar-logo">
                  <button type="submit" class="btn btn-info" aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons" style="vertical-align: bottom;">
                      add
                    </span>Your Profile
                  </button>
            </div>
          </a>     
    </form>

    <form method="POST" action="/yourpersonalspace">
        <a  class="sidebar-links" >
            <div class="sidebar-logo">
              <span class="material-icons" style="vertical-align: bottom;">
                article
              </span><button type="submit" class="btn btn-success letresizebutton" >Your Space</button>
            </div>
          </a>     
    </form>

    <form method="POST" action="/papersuser">
        <a  class="sidebar-links" >
            <div class="sidebar-logo">
              <span class="material-icons" style="vertical-align: middle">
                article
              </span><button type="submit" class="btn btn-warning letresizebutton" >Papers</button>
            </div>
          </a>     
    </form>
    
    <form method="POST" action="/timetable">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle">
              payment
            </span><button type="submit" class="btn btn-danger letresizebutton" >Time Table</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/availablebooks">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle" >
              library_books
            </span><button type="submit" class="btn btn-info letresizebutton">Books</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/availablenotes">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle" >
              library_books
            </span><button type="submit" class="btn btn-primary letresizebutton">Notes</button>
          </div>
        </a>
    </form>

    <form method="POST" action="/makerequest">
        <a href="#" class="sidebar-links">
          <div class="sidebar-logo">
            <span class="material-icons" style="vertical-align: middle">
              import_contacts
            </span><button type="submit" class="btn btn-dark letresizebutton">Put Request</button>
          </div>
        </a>
    </form>
  </div>  
<!--   
  <div class="container">
    <div class="row">
        <div class="col-md">
        <div class="info-box">
            <button type="button" class="btn btn-primary btn-lg btn-block">Home</button>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>     
            <button type="button" class="btn btn-link">Link</button>

        </div>
      </div>
    </div>
  </div>
 -->

  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="info-box">
            <h1>Welcome</h1>
        </div>
      </div>
    </div>
  </div> 
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="info-box">
        </div>
      </div>
    </div>
  </div>    
    <script src="usersigninjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>